# Misc
Misc/
expected_results/
optiver/
working/
Dockerfile
docker-compose.yaml
src/model-example-kaggle.ipynb
public_leaderboard.csv

# Ignore archive
archive/

# Ignore data
data/
src/data
submissions/

# Ignore API-token
kaggle.json

# Jupyter-config (from another project)
jupyter-config/

# Ignore submissions
submission*.csv

# Ignore checkpoints
*.ipynb_checkpoints*
jupyter-config/.ipynb_checkpoints/*
